/* цвет всех h #2e2f42 */
/* section nav logo Studio
ссылки Studio Portfolio 
Contacts  #2e2f42  */
/* section nav ссылки mail tel
#434455 */
/* основной текст #434455  */
/* section hero h1 button text #fffff
button background #4d5ae5  */
/* sektion Our Team background
#f4f4fd */
/* footer logo "Web #4d5ae5
Studio #f4f4fd background #2e2f42 */
:root {
  --primary-text-color: rgba(67, 68, 85, 1);
  --title-text-color: rgba(46, 47, 66, 1);
  --accent-color: rgba(77, 90, 229, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --accent-ocean-color: rgba(64, 75, 191, 1);
  --accent-cloud-color: rgba(244, 244, 253, 1);
  --border-color: rgba(231, 233, 252, 1);

  --color-iris: rgba(77, 90, 229, 1);
  --color-ocean: rgba(64, 75, 191, 1);
  --color-navy-blue: rgba(46, 47, 66, 1);
  --color-green: rgba(49, 208, 170, 1);
  --color-slate: rgba(67, 68, 85, 1);
  --color-light-slate: rgba(142, 143, 153, 1);
  --color-cornflower: rgba(231, 233, 252, 1);
  --color-cloud: rgba(244, 244, 253, 1);
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-grey: rgba(46, 47, 66, 0.7);
  --color-white: rgba(255, 255, 255, 1);
  --color-dairy: rgba(252, 252, 252, 1);
}
/* страница studio */
/* sektion header */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}

/*  site-nav */
.list {
  list-style: none;

  display: flex;
}

.link {
  text-decoration: none;
}
.link.spc{
font-style: normal;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  
  letter-spacing: 0.02em;
  text-align: left;
  
  
}

.logo {
  display: inline-block;
  padding-top: 25.5px;
  margin-right: 0;
  padding-bottom: 25.5px;
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.logo .studio {
  color: var(--title-text-color);
}
.logo .studio:hover,
.logo .studio:focus {
  color: var(--title-text-color);
}

.site-address {
  font-style: normal;
  margin-left: 332px;
}
.site-address .link,
.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-color);
  
}
.page { 
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
  0px 1px 1px 0px rgba(46, 47, 66, 0.16),
  0px 2px 1px 0px rgba(46, 47, 66, 0.08);

border-bottom: 1px solid #e7e9fc;
}
.baskiet {
  display: flex;
  align-items: center;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}
.head.container {
  display: flex;
  margin: o auto;
  width: 1158px;
  padding: 0px 15px;
}
.site-nav,
.addres-list {
  gap: 40px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link:hover,
.site-address .link:hover {
  color: var(--accent-ocean-color);
}

.site-nav .link:focus,
.site-address .link:focus {
  color: var(--accent-ocean-color);
}

/* sektion hero */
.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-ocean-color);
}
.button.primary {
  border-radius: 4px;
  border: none;
  height: 56px;
  min-width: 169px;
  display: block;
  margin: auto;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero {
  padding: 188px 0;

  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: var(--title-text-color);
}

.hero-title {
  margin: auto;
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 48px;
  text-align: center;

  color: var(--primary-white-color);
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
}

/* sektion feature */
.antenna{
  background-color:var(--accent-cloud-color);
  
  width: 264px;
  height: 112px;
  


  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
  
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list.s-li {
  gap: 24px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section .title {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.section-subject {
  margin-top: 8px;
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-text {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.section-foto {
  width: calc((100% - 72px) / 4);
}

/* section What are we doing(что мы делаем) */
.doing {
  width: calc((100% - 48px) / 3);
}
.section.what {
  padding-top: 0px;
  padding-bottom: 120px;
}

/* sektion Our Team(наша команда) */
.socials.list{
  gap: 24px;
  padding-left: 0px;
  justify-content: center;
  
}
.socials-icons{
  fill: #f4f4fd;
}


.socials-item{
  
 width: 40px;
 height: 40px;
}
.socials-link.link{
  width: 100%;
  height: 100%;
 display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color:var(--accent-color) ;
  
}
.socials-link.link:hover,
.socials-link.link:focus{
  background-color: var(--accent-ocean-color);
}
.list.team {
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.team-text {
  margin-top: 0px;
  margin-bottom: 8px;
  text-align: center;
}

.team {
  background-color: var(--accent-cloud-color);
}
.team-foto {
  background-color: var(--primary-white-color);

  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.teams {
  padding: 32px 16px;
}

.team-subject {
  margin-top: 0px;
  margin-bottom: 8px;
  text-align: center;
}
 /*sektion client*/
.client{
  width: calc((100%-120px)/6);
  height: 88px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 4px;
  
  
  
  
}   
.clients{
  gap: 24px;
  display: flex;
  padding-left: 0;
  margin: 0;
}  
.clt{
  width: 100%;
  height: 100%;
  border:1px solid #8e8f99;
  border-radius:4px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#8e8f99;
  cursor:pointer;
}
.clt:hover,
.clts:hover{
color: #404bbf;
border-color: #404bbf;

}  
.clt:focus,
.clts:focus{
  color: #404bbf;
 border-color : #404bbf;

}
.clts{
  fill: currentColor;
} 
.clts:hover,
.clts:focus{
  color: #404bbf;
  border-color: #404bbf;

}       
/* sektion footer */
.footer-cont{
  display: block;
  margin-right: 120px;
}
.footer-cont-soc{
  display: block;
  margin-bottom: 16px;
}
.socials-links.links:focus,
.socials-links.links:hover{
  background-color: var(--color-green);
}

.socials-links.links{
  width: 100%;
  height: 100%;
 display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color:var(--accent-color) ;
}

.foot{
  display: flex;
  align-items: baseline;
}
.logo.link.footers {
  margin-bottom: 17.5px;
  margin-right: 0px;
  padding: 0px 0px;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  
  display: flex;
  gap: 120px;
}

.footer {
  background-color: var(--title-text-color);
  display: flex;
  align-items: baseline;
}
.footer-logo,
.footer-text {
  width: 264px;
  margin-top: 0px;
  
  color:var(--accent-cloud-color);
}
.footer-logo{
  margin-bottom: 17.5px;
}
.footer-text{
  margin-bottom: 0;
}
.soc{
fill: var(--accent-cloud-color);


}
.footer-soc{
  display: flex;
  gap: 16px;
  padding-left: 0px;
  margin: 0;
}
.footer-text-soc{
 font-weight: 500;
 font-size: 16px; 
 line-height: 1.5;
 letter-spacing: 0.02em;
 margin-bottom: 16px;
 margin-top: 0;
 color:var(--primary-white-color);
}

/* страница portfolio */
.link.prt{
  display: block;
  cursor: pointer;
}
.link.prt:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.link.prt:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}


.portsection {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list.buttons {
  gap: 24px;
  justify-content: center;
  
  margin-bottom: 72px;
  padding-left: 0;
}
.list.portfolio {
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
  padding-left: 0;
}

.s-li.port {
  width: calc((100% - 48px) / 3);
}

.port-button {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  padding: 12px 24px;

  color: var(--accent-color);
  background-color: var(--accent-cloud-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.port-button:hover,
.port-button:focus {
  border: 1px solid transparent;
  color: var(--primary-white-color);
  background-color: var(--accent-ocean-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.link .project {
  margin-bottom: 8px;
  margin-top: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--title-text-color);
  vertical-align: top;
}

.link .desk {
  margin-top: 0;
  margin-bottom: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.link .portes {
  border: 1px solid #e7e9fc;
  border-top: none;

  padding: 32px 16px;
}
